body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E4F0F6;
}
  
a { 
    text-decoration: none;
}    

    a:visited {
        /* color: initial; */
    }
    a:active {
        color: #9D9D9D; 
    }

li{
    list-style-type: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
   
.Layout{
    width: 100%;
    max-width: 520px;
    padding: 5px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 100px;
}

.form{
    border-radius: 4px;
    max-width:700px;
    padding: 10px 40px;
    min-width: 220px;
    
}

.authForm{
   padding: 10px;
   color: #4D4D4D;
}


.authFormLayout{
    width: 100%;
    margin: auto;
    text-align: left;
}

.input__name{
    font-size: 18px;
    padding-top: 10px;
}

.disabled{
    display: none;
}

.input {
    box-sizing: border-box;
    font-size: 17px;
    display:block;
    height:100%;
    width: 100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid #a0b3b0;
    color:#000;
    border-radius:4px;
    transition:border-color .5s ease-in, box-shadow .25s ease-in;
    border-color: #8EA09F;
    outline:0;
    margin-bottom: 10px;
}

.input__errorText{
    color: red;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}

.input--redBorder{
    border-color: red;
}

.button{
    background-color: #E2E4E6;
    border-radius: .4em;
    box-shadow: 0 2px 0 #CDD2D4;
    color: #4d4d4d;
    display: inline-block;
    line-height: 1.1em;
    margin: 0 .25em;
    padding: .7em 1.3em;
    text-decoration: none;
    vertical-align: top;
    font-size:1rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.1em;
    border-radius: 6px;
    transition:all .4s ease;
    border: none;
}


.button:hover{
    color: #4d4d4d;
    background-color: #D6DADC;
    box-shadow: 0 2px 0 #C4C9CC;
    cursor: pointer;
}


.button--green{
    background:linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%);
    box-shadow: 0 2px 0 #3F6F21;
    color: white;
}

.button:visited{
    color: #636363;
}

.button--green:visited{
    color: white;
}

  .button--green:hover,  .button--green:focus{
    color: #fff;
    background: -webkit-linear-gradient(top, #5AAC44 0, #519839 100%);
    background: linear-gradient(to bottom, #5AAC44 0, #519839 100%);
    box-shadow: 0 2px 0 #3F6F21;
  }

  .button--green:disabled{
    box-shadow: 0 2px 0 #3F6F21;
    background: linear-gradient(to bottom, rgb(132, 177, 123) 0, rgb(112, 161, 99) 100%);
    cursor: auto;
  }
  

/* HEADER */

.header{
    background-color: #F8F9F9;
    height: 2.5em;
    left: 0;
    padding: 1em .75em;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
    min-width: 360px;
}

.header__logo{
    height: 100%;
}

.header__icon{
    margin: 0px 5px;
    display: inline-block;
    cursor: pointer;
}

.icon__img{
    width: 37px; 
}

.header__icon:hover > .icon__img{
    filter: brightness(50%)
}

.header__buttons--right{
    float: right;
    line-height: 40px;
    margin: 0px 10px;
    color: #4b4b4b;
}

.header__notificationCount{
    position: relative;
    top: 25px;
    right: -45px;
    float: left;
    background-color: #ff0000cb;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: white;
}

.popup {
    padding: 0px 0px 10px 0px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d6dadc;
    border-bottom-color: #c4c9cc;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 75px;
    width: 304px;
    z-index: 70;
}

.popupList li>a{
    padding: 5px;
    display: block;
}

.popupList li>a:hover, .popupList li>a:visited:hover{
    width: 100%;
    background-color: #61BD4F;
    color: #FFF;
    cursor: pointer;
}

.popupList li>a:active, .popupList li>a:visited:active{
    width: 100%;
    background-color: rgb(90, 172, 73);
    color: #FFF;
    cursor: pointer;
}

.popupList li>a:visited{
    color: initial;
}

.popup__username{
    text-align: center;
    color:#4D4D4D;
    padding: 10px 0px 0px 0px;
}

.popup hr {
    margin: 8px 10px;
}


.popup__closeButton{
    padding: 10px 10px 10px 3px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    width: 20px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(169, 174, 177);
    text-align: center;
}

.popup__closeButton:hover{
    color: #818181;
}


.header__authLinks{
    display: block;
    float: right;
    border: none;
}

.errorMessage{
    border-radius: 4px;
    background: #F5D3CE;
    border: 1px solid #EB5A46;
    display: inline-block;
    padding: .2em 1em;
}



/* MAIN PAGE */


.friendBlockContent{
    flex: 320px 0 0;
}


.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.mainPage{
}

/* FOOTER */

.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.friendListBlock{
    padding: 0px;
    background-color: rgba(248, 249, 249, 0.336);
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1);
}

.friendBlock{
    border-bottom: 1px solid rgba(156, 155, 155, 0.192);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.friendBlock:last-child{
    border: none;
}

.friend__icon{
    width: 40px;
    float: left;
    margin: 10px;
}

.button__icon:hover{
    filter: brightness(75%);
    cursor: pointer;
}

.friend__info{
    margin-right:auto;
}

.frienDebt--green{
    color: #53bd22;
}

.frienDebt--red{
    color: red;
}

.friendDebt{
   padding: 10px;
}

/* DEBT CONTENT */

.debtContent{
    width: 900px;
    margin-right: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 240px;
}

.debtBlock{
    position: relative;
    background-color: rgba(248, 249, 249, 0.767);
    flex: 200px 0 0;
    height: 300px;
    margin: 22px 10px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.1);
}

.addDebtBlock{
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 375px;
}

.addDebtBlock__img{
    max-width:50%;
    max-height:50%;
    filter: brightness(150%)
}

.addDebtBlock:hover{
    cursor: pointer;
}

.addDebtBlock:hover > .addDebtBlock__img{
    filter: brightness(100%);
}

.debtBlock__name{
    background-color: rgb(172, 205, 228);
    border-radius: 2px 2px 0px 0px;
    padding: 20px 10px;
    display: block;
}

.debtBlock__menuIcon{
    position: absolute;
    width: 35px;
    right: 0px;
    top: 15px;
}

.debtBlock__menuIcon:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.debtBlock__friendName{
    background-color: rgb(209, 228, 241);
    padding: 10px 10px;
    display: block;
}

.debtBlockDebt__value{
    position: absolute;
    height: 20px;
    display: block;
    bottom: 0px;
    width: 100%;
    color: rgb(241, 241, 241);
    padding: 5px 0px;
    box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.3);   
}

.debt--green{
    background: linear-gradient(to bottom, rgb(163, 238, 148) 0, rgb(158, 224, 140) 100%);
}

.debt--red{
    background: linear-gradient(to bottom, rgb(238, 135, 135) 0, rgb(226, 139, 133) 100%);
}


/* MEDIA TAGS */

@media (max-width: 880px)
{
    .debtContent{
        margin: 0px 10px;
        justify-content: space-around;
        align-items: center;
    }

    .friendBlockContent
    {
        display: none;
    }
}