body {
  margin: 0;
  padding: 0;
  /* background-color: #f3f3f3; */
  min-height: 100vh;
  /* background-color: #fdfdfd */
  background: linear-gradient(to top left, #cad5ef, #feffdb);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.floatClear {
  clear: both;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777777;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
}

a {
  text-decoration: none;
}

a:active {
  color: #9d9d9d;
}

li {
  list-style-type: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout {
  width: 100%;
  max-width: 900px;
  padding: 5px;
  /* padding-bottom: 40px; */
  margin: auto;
  margin-top: 100px;
}

.form {
  margin: auto;
  border-radius: 4px;
  max-width: 700px;
  padding: 10px 40px;
  min-width: 220px;
}

.form__link {
  color: #4d4d4d;
  text-decoration: underline;
}

.form__link:visited {
  color: #4d4d4d;
}
.form__link:hover {
  color: hsl(0, 0%, 15%);
  cursor: pointer;
}

.authForm {
  margin: auto;
  max-width: 440px;
  padding: 10px;
  color: #4d4d4d;
}

.authFormLayout {
  width: 100%;
  margin: auto;
  text-align: left;
}

.input__name {
  font-size: 18px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.invisible {
  filter: opacity(0);
}

.hoverable {
  cursor: pointer;
}

.inputOrigin {
  box-sizing: border-box;
  font-size: 17px;
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000;
  border-radius: 4px;
  transition: border-color 0.5s ease-in, box-shadow 0.25s ease-in;
  border-color: #8ea09f;
  outline: 0;
  margin-bottom: 10px;
}

.input--textarea {
  height: 95px;
  resize: none;
  margin: 0px;
}

.input__errorText {
  color: red;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.input--redBorder {
  border-color: red;
}

.button {
  background-color: #e2e4e6;
  box-shadow: 0 2px 0 #cdd2d4;
  color: #4d4d4d;
  display: inline-block;
  line-height: 1.1em;
  /* margin: 0 0.25em; */
  padding: 0.7em 1.3em;
  text-decoration: none;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* border-radius: 6px; */
  transition: all 0.4s ease;
  border: none;
  box-shadow: 5px 3px 8px 0px #0000003b;
}

.button:hover {
  color: #4d4d4d;
  background-color: #d6dadc;
  box-shadow: 0 2px 0 #c4c9cc;
  cursor: pointer;
}

.button--small {
  font-size: 0.75rem;
  letter-spacing: 0em;
  padding: 0.5em 1em;
}

.button--green {
  /* background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%); */
  background: #85ca77;
  color: white;
}

.button:visited {
  color: #636363;
}

.button--green:visited {
  color: white;
}

.button--green:hover,
.button--green:focus {
  color: #fff;
  background: #72ad66;
  /* background: -webkit-linear-gradient(top, #5aac44 0, #519839 100%);
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%); */
}

.button--green:disabled {
  /* background: linear-gradient(
    to bottom,
    rgb(132, 177, 123) 0,
    rgb(112, 161, 99) 100%
  ); */
  background-color: rgb(132, 177, 123);
  cursor: auto;
}

/* HEADER */

.header {
  /* background-color: rgba(248, 249, 249, 0.9); */
  background-color: #ffffff;
  height: 65px;
  left: 0;
  padding: 1em 0.15em;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10000;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  min-width: 320px;
}

.header__logo {
  height: 90%;
}

.header__icon {
  margin: 0px 5px;
  display: inline-block;
  cursor: pointer;
  display: inline-flex;
}

.icon__img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.icon__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.header__buttons--right {
  float: right;
  line-height: 40px;
  margin: 0px 10px;
  color: #4b4b4b;
}

.header__notificationCount {
  position: relative;
  top: 25px;
  right: 16px;
  float: left;
  background-color: #ff0000cb;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: white;
}

.popup {
  padding: 0px 0px 10px 0px;
  background: #fff;
  border-radius: 3px;
  border-bottom-color: #c4c9cc;
  overflow: hidden;
  position: absolute;
  /* right: 5px;
  top: 75px; */
  width: 304px;
  z-index: 70;
}

.popup__navigation {
  right: 5px;
  top: 75px;
}

.popup__changeProfileInfo {
  padding: 0px 10px;
  overflow: visible;
}

.popup__notifications {
  width: 400px;
  padding: 0px 20px 10px 10px;
  overflow: visible;
  right: 5px;
  top: 75px;
}

.popup__friendPicker {
  width: 88%;
  /* padding: 0px 20px 10px 10px; */
  text-align: center;
  background-color: #fafafa;
  max-height: 425px;
}

.friendCollection {
  overflow: auto;
  max-height: 265px;
}

.invite__text {
  float: left;
  width: 100%;
}

.invite__button {
  float: right;
  width: 20%;
  margin-bottom: 5px;
}

.popup__list li > a {
  padding: 5px;
  display: block;
}

.popup__notification {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.popup__list li > a:hover,
.popup__list li > a:visited:hover {
  width: 100%;
  background-color: #61bd4f;
  color: #fff;
  cursor: pointer;
}

.popup__list li > a:active,
.popup__list li > a:visited:active {
  width: 100%;
  background-color: rgb(90, 172, 73);
  color: #fff;
  cursor: pointer;
}

.popup__list li > a:visited {
  color: initial;
}

.popup__name {
  text-align: center;
  color: #4d4d4d;
  padding: 10px 0px 5px 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #f0f0f0, #8c8b8b, #f0f0f0);
  -webkit-border-image: -webkit-linear-gradient(
    to right,
    #f0f0f0,
    #8c8b8b,
    #f0f0f0
  );
  -moz-border-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  border-image-slice: 1;
}
.popup hr {
  margin: 8px 10px;
}
.popup__closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}
.popup__closeButton:hover {
  color: #ececec;
}
.header__authLinks {
  display: block;
  float: right;
  border: none;
}
.errorMessage {
  position: relative;
  margin-top: 20px;
  color: white;
  background: #f44336;
  padding: 20px 20px;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  opacity: 1;
}
.errorMessage__close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: white !important;
}
.errorMessage.hide-errorMessage {
  opacity: 0;
  padding: 0px 20px;
  margin-top: 0px;
  transform: scale(1, 0);
}
.errorMessage--green {
  background: #cef5d5;
  border: 1px solid #46eb46;
  top: 115px;
}
/* MAIN PAGE */
.friendBlockContent {
  padding: 20px 0px;
  flex: 320px 0 0;
}
.mainPage {
  margin-top: 25px;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}
.friendListBlock {
  padding: 0px;
  background-color: rgba(248, 249, 249, 0.85);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.friends__layout {
  position: sticky;
  top: 90px;
}
.friendList {
  /* max-height: 426px; */
  /* overflow: auto; */
}
.friendBlock {
  border-bottom: 1px solid rgba(156, 155, 155, 0.292);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.friendBlock--hoverable:hover {
  filter: brightness(50%);
  cursor: pointer;
  transition: 0.25s all ease;
  background: rgba(248, 249, 249, 0.136);
}
.friendBlock:last-child {
  border: none;
}
.button__icon:hover {
  filter: brightness(75%);
  cursor: pointer;
}
.friend__info {
  margin-right: auto;
  text-align: left;
  max-width: 200px;
  overflow: hidden;
}
.friendDebt--green {
  color: #53bd22;
}
.friendDebt--red {
  color: red;
}
.friendDebt {
  padding: 10px;
}
/* DEBT CONTENT */
.debtContent {
  width: 900px;
  margin-right: 50px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 240px;
}
.debtContent__loading {
  justify-content: center;
}
.loading__img {
  width: 30%;
  height: 30%;
}
.debtBlock {
  position: relative;
  background-color: #ffffff;
  flex: 200px 0 0;
  min-width: 200px;
  min-height: 300px;
  margin: 22px 10px;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.debtBlock--new {
  box-shadow: 0px 0px 14px 0px hsla(134, 91%, 54%, 0.76);
}
.debtBlock__closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
}
.debtBlock__closeButton:hover {
  color: rgb(223, 223, 223);
}
.addDebtBlock {
  text-align: center;
  width: 100%;
  height: 100%;
}
.addDebtBlock__img {
  padding-top: 50%;
  max-width: 50%;
  max-height: 50%;
  filter: brightness(150%);
  transition: filter 0.4s ease;
}
.addDebtBlock__loading {
  padding-top: 30%;
  max-width: 75%;
  max-height: 75%;
  cursor: default;
}
.addDebtBlock:hover {
  cursor: pointer;
}
.addDebtBlock:hover > .addDebtBlock__img {
  filter: brightness(100%);
}
.debtBlock__name {
  background-color: rgb(175, 241, 186);
  border-radius: 5px 5px 0px 0px;
  height: 60px;
  line-height: 30px;
  display: block;
  padding: 15px 10px;
}
.debtBlock__description {
  word-break: break-word;
  padding: 10px 10px;
  height: 105px;
}
.debtBlock__date {
  padding: 0px 10px;
  text-align: right;
  position: relative;
  color: #888;
  bottom: -25px;
  font-size: 14px;
}
.debtBlock__buttons {
  position: absolute;
  bottom: 0px;
}
.debtBlock__menuIcon {
  position: absolute;
  width: 35px;
  right: 0px;
  top: 13px;
}
.debtBlock__menuIcon:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.debtBlock__friendName {
  background-color: rgb(209, 241, 219);
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  display: block;
}
.debtBlock__value {
  display: inline-flex;
}
.debtBlock__value--red {
  background-color: #ffeeee;
}
.debtBlock__value--green {
  background-color: #e8f8e5;
}
.debtBlock__value__input {
  float: right;
  width: 80%;
  height: inherit;
}
.debtBlock__value__icon {
  width: 30px;
  padding: 5px;
}
.debtBlock__value__icon--clickable {
  border: 1px solid hsl(173, 9%, 55%);
  border-radius: 4px;
}
.debtBlock__value__icon--clickable:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.debtBlock__friend {
}
.debtBlock__friend.editable {
  cursor: pointer;
}
.debtBlockDebt__value {
  position: absolute;
  height: 20px;
  display: block;
  bottom: 0px;
  width: 100%;
  color: rgb(241, 241, 241);
  padding: 5px 0px;
  box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.3);
}
.debt--green {
  background: linear-gradient(
    to bottom,
    rgb(163, 238, 148) 0,
    rgb(158, 224, 140) 100%
  );
}
.debt--red {
  background: linear-gradient(
    to bottom,
    rgb(238, 135, 135) 0,
    rgb(226, 139, 133) 100%
  );
}
.debt__searchBox {
  padding: 10px 0px;
}
.debt__searchBox .search__input {
  margin-top: 35px;
}
.debt__searchBox .btn {
  overflow: hidden;
}
/* .search__tag-Buttons {
  float: right;
} */
.debt__icons {
  z-index: 1;
  position: absolute;
  display: inline-flex;
  left: 0px;
  top: 5px;
  height: 50px;
  width: 100%;
  padding: 0px 2px;
}
.debt__icons.editable .debt__icon {
  border: 1px dashed white;
  border-radius: 50%;
}
.debt__icons.editable .card__arrow {
  border-style: dashed !important;
}
.debt__icon {
  background: rgba(0, 0, 0, 0.278);
  position: relative;
  /* top: 6px;
  left: 6px; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer;
  margin: 0px 2px;
  /* pointer-events: none; */
}
.debt__icon input {
  cursor: pointer;
}
.debt__icon.overdue {
  color: #ffa5a5;
}
.debt__icon .input-field {
  margin: 0;
  position: absolute;
  top: 0;
  left: -10px;
}
.debt__icon .input-field .picker__input {
  width: 40px;
  height: 40px;
  opacity: 0;
}
.debt__calendar {
  position: absolute;
  top: 55px;
  z-index: 2;
}
.debtBlock__value .profile__content {
  position: relative;
}
.debt-changes .collection-item {
  background-color: #f8f8f8;
}
.debt-changes .value {
  padding: 10px;
}
.debt-changes .value.old {
  background-color: #ffa5a5;
}
.debt-changes .value.new {
  background-color: palegreen;
}
.debt.debter {
  background-color: #fff2f2;
}
.debt.not-debter {
  background-color: #eeffee;
}
.profile__icon {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 2px gainsboro solid;
  padding: 2px;
  border-radius: 50%;
  object-position: 50% 50%;
}
.icon--small {
  width: 40px;
  height: 40px;
}
.icon--clickable:hover {
  filter: brightness(50%);
  cursor: pointer;
}
/* CHAT */
.chatBlock {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 340px; /* height: 475px; */
  background-color: #ffffff;
  border: 1px solid #85ca77;
  border-radius: 5px;
  margin: 5px;
  z-index: 55;
}
.chat__window {
  overflow: hidden;
}
.chatBlock__inputs {
  bottom: 0px;
  height: 45px;
  width: calc(100% - 80px);
  float: left;
}
.chatBlock__progressBar {
  margin: 0;
}
.chatBlock__inputs input {
  border: none;
  margin-bottom: 0;
}
.chatBlock__send {
  float: right;
  color: #8c8b8b;
  cursor: pointer;
  padding: 7px 4px;
  line-height: 0px;
  float: left;
}
.chatBlock__send:hover {
  color: #818181;
  background-color: rgb(245, 245, 245);
}
.chatBlock__icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: hsla(111, 60%, 68%, 0.8);
  border-radius: 35px;
  padding: 10px;
  transition: transform 0.4s ease;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.chatBlock__icon:hover {
  transform: scale(1.1);
}
.Collapsible__trigger div {
  padding: 10px 20px;
  cursor: pointer;
}
.pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0.4);
    box-shadow: 0 0 0 0 rgba(44, 204, 71, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
    box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
    box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
  }
}
.chatBlock__messageBlock {
  overflow: auto;
  height: 370px;
  position: relative;
  border-bottom: 1px solid #aeceb19e;
  /* box-shadow: inset 0 5px 5px -5px #333, inset 0 -5px 5px -5px #333; */ /* margin-bottom: 45px; */
}
.chatBlock__message {
  display: flex;
  align-items: center;
  padding: 12px 6px;
}
.chatBlock__message .loading {
  filter: brightness(0.9);
  background: #ececec;
}
.chatBlock__message--isOwner {
  flex-direction: row-reverse;
}
.chatBlock__message__user {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  margin-top: auto;
  z-index: -1;
}
.chatBlock__message__user__username {
  margin-bottom: 0px;
  word-break: break-word;
  width: 80px;
  text-align: center;
  z-index: -1;
}
.chatBlock__message__time {
  color: #c5c5c5;
  font-size: smaller;
  margin: 7px 2px;
  margin-top: auto;
  position: absolute;
  word-break: normal;
  top: -20px;
}
.chatBlock__message__open {
  color: #ffffff;
  margin-top: auto;
  position: absolute;
  word-break: normal;
  right: 10px;
  top: 10px;
  padding: 1px 2px;
  background-color: #7a7a7aaf;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.chatBlock__message__text:hover .chatBlock__message__open {
  opacity: 1;
}
.chatBlock__message--isOwner .chatBlock__message__time {
  right: 0px;
}
.chatBlock__message--notOwner .chatBlock__message__time {
  left: 0px;
}
.chatBlock__message__user__icon {
  margin-top: -17px !important;
}
.chatBlock__message__text {
  padding: 5px;
  background: #c4f5c4;
  position: relative;
  word-break: break-word;
  margin-top: auto;
  border-radius: 4px;
  max-width: 207px;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  /* z-index: -1; */
}
.chatBlock__message__text::after {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  bottom: 6px;
  z-index: -1;
}
.chatBlock__message__text--notOwner::after {
  left: -20px;
  border-right: 15px solid #c4f5c4;
}
.chatBlock__message__text--isOwner::after {
  right: -20px;
  border-left: 15px solid #c4f5c4;
}
.chatBlock__message__text iframe,
.chatBlock__message__text img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: -5px;
}
.chatBlock__message__text .react-h5-audio-player {
  width: 197px;
}
.react-h5-audio-player .toggle-play-button {
  background-color: #61bd4f !important;
}
.react-h5-audio-player .pause-icon {
  box-shadow: #61bd4f 7px 0px 0px 0px inset !important;
}
.react-h5-audio-player .indicator {
  background-color: #a4eb87 !important;
}
.react-h5-audio-player .volumn {
  border-bottom-color: #c4f5c4 !important;
}
.chatMessage__Modal img,
.chatMessage__Modal iframe {
  width: 100%;
}
.chatMessage__Modal iframe {
  min-height: 500px;
}
.chatBlock__message__text a {
  color: #375a25;
  text-decoration: underline;
}
.chatBlock__typingMessage {
  position: sticky;
  float: left;
  text-align: center;
  width: 100%;
  color: #636363;
  background-color: rgba(247, 247, 247, 0.918);
  bottom: 50px;
}
.chatBlock__friends {
  position: absolute;
  left: -65px;
  top: 0px;
  width: 60px;
  max-height: 340px;
  overflow: overlay;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 30px;
}
.chatBlock .chat__header {
  text-align: center;
  color: #ffffff;
  padding: 10px 0px 5px 0px;
  padding: 19px 34px;
  background-color: #85ca77;
  font-size: 19px;
}
.friend__icon {
  float: left;
  transition: 0.5s all ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 0px;
  border: 3px white solid;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
}
.friend__icon.active {
  border-color: rgb(144, 221, 148);
}
.tooltip {
  position: relative;
  padding-left: 50px;
  min-height: 50px;
}
.tooltip .icon__img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.card__item {
  display: block;
  width: 100%;
  margin-top: 1px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  break-inside: avoid-column;
  page-break-inside: avoid;
  padding: 20px 10px;
  transition: filter 0.5s ease;
}
.card {
  margin: 0px;
  cursor: inherit;
}
.card__loading {
  background: rgba(255, 255, 255, 0.72);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0px;
  left: 0px;
  text-align: center;
}
.card__loading .loader__container {
  transform: translate(0, 50%);
}
/* MEDIA TAGS */
@media (max-width: 1360px) {
  .debtContent {
    width: 660px;
    margin-left: auto;
  }
  .friendBlockContent {
    margin-left: auto;
  }
}
@media (max-width: 1150px) {
  .debtContent {
    width: 660px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .friendBlockContent {
    display: none;
  }
}
@media (max-width: 910px) {
  .debtContent {
    align-items: center;
  }
}
@media (max-width: 700px) {
  .debtContent {
    width: 440px;
  }
}
@media (max-width: 480px) {
  .debtContent {
    width: 240px;
  }
  .debtBlock {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 420px) {
  .chatBlock__friends {
    left: 0;
    top: -65px;
    width: 100%;
    height: 60px;
    display: flex;
  }
  .chatBlock__friends .friend__icon {
    margin: 0px 3px;
  }
  .chatBlock {
    width: 100%;
    margin: 0px;
  }
  .layout {
    margin-top: 10px;
  }
  .chatBlock__messageBlock {
    height: 340px;
  }
}
